extends layout

block 4left

	.card
		.card-header
			h4 Your Trips
		ul.list-group.list-group-flush
			each trip in trips
				li.list-group-item
					a.nav-link(href='#')
						h5 #{trip.name}


	pre= h.dump(user)
block 4middle

	.card
		.card-header
			- const trip = trips[1]
			h4 #{trip.name}
		ul.list-group.list-group-flush
			each leg in trip.tripLegs
				li.list-group-item
					a.nav-link(href='#')
						img(src=leg.company.logoUrl)
						h5 #{leg.company.name}




block 4right
	#accordion
		.card
			.card-header#headingOne
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse", data-target="#collapseOne") Collapse 1
			#collapseOne.collapse(data-parent="#accordion")
				.card-body Hey Hi hows it goin
		.card
			.card-header#headingOne
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse", data-target="#collapseTwo") Collapse 2
			#collapseTwo.collapse(data-parent="#accordion")
				.card-body Hey Hi hows it goin