mixin locEdit(location={})
	form.form(action=`/admin/locations/${location._id || ''}`, method="POST")
		label(for='locName') Location Name
			input(type='text', id='locName', value=location.name, name='name')
		label(for='address') Address
			input(type='text', id='address', value=location.address, name='address')
		label(for='city') city
			input(type='text', id='city', value=location.city, name='city')
		label(for='state') state
			input(type='text', id='state', value=location.state, name='state')
		label(for='zip') zip
			input(type='text', id='zip', value=location.zip, name='zip')
		label(for='phone') phone
			input(type='text', id='phone', value=location.phone, name='phone')
		label(for='lat') Lat
			input(type='text', id='lat', value=location.lat, name='lat')
		label(for='lng') Lng
			input(type='text', id='lng', value=location.lng, name='lng')
		input(type='submit', value='submit')