mixin navStranger
	nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
		a.navbar-brand(href='/home') TripSync
		.collapse.navbar-collapse#nav01
			ul.navbar-nav.ml-auto
				li.nav-item
					form.form-inline.js-login(action='/auth/signin', method="POST")
						.form-group
							label.ml-2.text-white(for='emailInput') Email
								input.form-control( type='email' id='emailInput' name='email')
							label.ml-2.text-white(for='passwordInput') Password
								input.form-control( type='password' id='passwordInput' name='password')
							input.btn-success.mb-1.ml-2(type='submit', value='Login')



mixin navSignedIn
	nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
		- const links = [ 'Users', 'Locations', 'Events']
		a.navbar-brand(href='/home') TripSync
		.collapse.navbar-collapse#nav01
			ul.navbar-nav.ml-auto
				each link in links
					li.nav-item(class= (currentPath === `/admin/${link}`) ? 'active' : '')
						a.nav-link(href=`/admin/${link}`) #{link}
				li.nav-item.dropdown
					a.nav-link(href='/admin/trips', data-toggle='dropdown', role='button', aria-haspopup=true, aria-expanded=false) Trips
					.dropdown-menu
						a.dropdown-item(href='/admin/trips') All Trips
						each trip in s.trips
							a.dropdown-item(href=`/admin/trips/${trip.id}/show`) #{trip.name}
				li.nav-item
					a.nav-link(href='/auth/signout') Sign Out
