mixin userCard(user)
	.userCard
		h2.fullName= user.fullName
		img.photo(src=user.gravatarUrl)
		p.email email: #{user.email}
		p.phone phone: #{user.phone}
		p.userName username: #{user.userName}
		p.homeAirport home airport: #{user.homeAirport}
